@model UI.Models.Index_VM


<div class="form-group">
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Pregunta
                    </td>
                    <td>
                        Respuesta
                    </td>
                </tr>
            </thead>
            <tbody>



                @for (int i = 0; i < @Model.preguntasConRespuestas.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => @Model.preguntasConRespuestas[i].pregunta)
                        </td>
                        @*//Todo Cambiar el ViewModel. Establecer todas las respuestas desde la base de datos*@
                        @for (int j = 0; j < @Model.preguntasConRespuestas[i].respuestas.Count; j++)
                        {@*TODO     Cambiar todos los ifs por un for que recorrar *@
                           

                        }
                    </tr>
                }




            </tbody>
        </table>
        <input type="submit" value="Finalizar" class="btn btn-success" />
    </form>
</div>
